<center>
<h3>Life Starts With Notes</h3>
<h5>You should make one...</h5>
<form method="post" action="/">
  <input type="text" name="note[title]" placeholder="Note Title">
  <br/>
   <br/>
  <textarea name="note[content]" rows="5" placeholder="details.."></textarea>
  <br/>
   <br/>
  <input type="submit" value="Create Note">
</form>
</center>
